<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>Mobile Choir - output</title>
    <link rel='stylesheet' href='/main.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body class="output">

    <div class="volume-instructions">
        <div class="container left">
            <p class="small">Unmute and turn up the volume</p>
        </div>
        <div class="container right">
            <button class="btn test-volume">Test sound</button>
        </div>
    </div>

    <script src="/bundle.js"></script>
  </body>
</html>
