
@import "mixins";
@import "variables";
// @import "tone_js";
@import "common";

body.input {
    background: $almost-black;
    // max-width: 2000px;
    width: 1250px;
    margin: auto;

    section {
        padding: 10px;

        &.left {
            width: 60%;
        }

        &.right {
            width: 40%;
        }
    }

    .container {
        width: 100%;
        padding: 10px;
        border-radius: $borderRadius;
        background: $concrete;
        margin-bottom: 20px;
        // min-height: 230px;
        // border: 1px solid red;
    }
}

body.output {
    background-color: $backgroundColor;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.C { background: $orange; }
    &.D { background: $carrot; }
    &.E { background: $pumpkin; }
    &.F { background: $alizarin; }
    &.G { background: $pomegranate; }
    &.A { background: $amethyst; }
    &.B { background: $wisteria; }
}

.title {
    margin: 5px 0 0 10px;
    font-size: 20px;
    // font-weight: normal;
}

hr.title-divider {
    background: $textColor;
    border-radius: 10px;
    border: none;
    height: 4px;
    width: 200px;
    // min-width: 400px;
    align: left;
    margin-bottom: 20px;
}

h1.container-title {
    font-size: 20px;
    width: 70%;
    margin-bottom: 5px;
}

#sync-screen,
#mobile-start {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);

    $buttonSize : 80px;

    #start-button {
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: $turquoise;
        color: white;
        // font-family: monospace;
        border-radius: $borderRadius;
        margin-top: -$buttonSize/2;
        margin-left: -$buttonSize/2;
        width: $buttonSize;
        height: $buttonSize;
        text-align: center;
        line-height: $buttonSize;
        font-size: 15px;
    }

    #start-button:hover {
        background-color: $turquoise;
        color: white;
    }

    #start-button:hover:active {
        background-color: #d35400;
    }

    p {
        position: absolute;
        font-size: 30px;
        top: 45%;
        color: white;
        text-align: center;
        width: 100%;
    }
}

#volume-instructions {
    padding: 10px;
    position: absolute;
    bottom: 0;
    // width: 95%;

    .container {
        width: 50%;
        display: inline-block;

        .btn {
            margin: auto;
            width: 100%;
        }
    }
}

#midi-inputs {
    margin-bottom: 10px;

    h4, label {
        display: inline-block;
    }

    label {
        margin: 0 5px 0 10px;

        input {
            margin-right: 5px;
        }
    }
}

#virtual-keyboard{
    canvas {
        width: 100% !important;
        height: 200px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-bottom: 10px;
    }

    ul, li {
        box-sizing: content-box;
    }
}

#step-sequencer {
    position: relative;

    ul {
        display: inline-block;
        float: left;
        margin: 5px 10px 0 0;
        padding: 5px 0 0 0;

        li {
            margin-bottom: 20px;
        }
    }

    .sequencer-divider {
        position: absolute;
        transform: rotate(90deg);
        left: 125px;
        top: 147px;
        background: rgba(255, 255, 255, 0.6);
        // background: $clouds;
        border-radius: 10px;
        border: none;
        height: 1px;
        width: 180px;
        align: left;
        margin-bottom: 20px;

        &.first {
            left: 125px;
        }
        &.second {
            left: 282px;
        }
        &.third{
            left: 440px;
        }
    }
}

#join-instructions {
    // font-size: 300%;
    display: block;

    div.instructions {
        width: 67%;
        display: inline-block;
    }

    div.right {
        width: 30%;
        display: inline-block;
    }

    p {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bold;

        &.clients {
            margin: auto;
            position: relative;
            margin-bottom: 0px;
            width: 105px;
            // border: 1px solid #000;

            i {
                font-size: 8em;
                line-height: 0;
                margin-top: 50%;
                color: $almost-black;
            }

            .connections {
                color: $sun-flower;
                position: absolute;
                top: 15px;
                font-size: 60px;
                text-align: center;
                width: 100%;
            }
        }

        .dot {
            font-family: sans-serif;
            font-size: 50px;
            vertical-align: sub;
            line-height: 0;
        }
    }
}

.midi-selector {
    height: 33px;
    padding: 0 5px;
    width: 295px;
}

#start-midi-track,
#stop-midi-track {
    display: inline-block;
}
#start-midi-track {
    background: $nephritis;
}
#stop-midi-track {
    background: $alizarin;
}
